$modal-background: rgb(40, 40, 40);

.edit-story-modal {
    width: 500px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: $modal-background;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
}
