#signup-wrapper {
    width: 600px;
    height: 500px;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
    margin: 10px auto;
    padding: 20px;
    background: rgb(141, 141, 141);
}

.signup-input,
.signup-label {
    margin-left: 20%;
}

.signup-input {
    width: 60%;
    height: 30px;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    background: rgb(110, 110, 110);
    color: #fff;
    border-radius: 5px;
    }
    
.signup-submit-btn {
    color: #fff;
    font-family: monospace;
    font-size: 1.5em;
    margin: 3% 0 0 26%;
    padding: .615%;
    width: 45%;
    height: 55px;
    background-color: #555;
    border: solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.heading {
    text-align: center;
    font-size: 2.45em;
}

.signup-label {
    font-size: 1.05em;
}

.signup-input:hover {
    background: black;
    color: snow;
}

.signup-submit-btn:hover {
    background: rgb(232, 95, 4);
    color: #fff;
    cursor: pointer;
}

/************MEDIA QUERIES************/
@media screen and (max-width: 750px) {
    #wrapper {
        width: 95%;
        height: 80%;
        padding: 3.508%;
    }

    .heading {
        font-size: 1.9em;
    }

    .signup-label {
        font-size: 0.875em;
    }

    .signup-input {
        width: 80%;
        height: 20px;
        font-size: 0.75em;
    }

    .signup-submit-btn {
        width: 45%;
        font-size: 1.1em;
        margin: 3% 0% 0% 23%;
    }

}