#email-wrapper {
    width: 500px;
    height: 275px;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
    margin: 10px auto;
    padding: 20px;
    background: rgb(17, 17, 17);
}

.email-heading {
    margin-top: -5px;
}

.email-subheading {
    margin-top: 40px;
}

.email-input-container {
    width: 100%;
    margin: 20px 0 10px 0;
}

.email-input-wrapper {
    position: relative;
    width: 100%;
}

.email-input {
    width: 98%;
    font-size: 16px;
    height: 50px;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #2c2c2e;
    color: #ffffff;
    border: 1px solid #3a3a3c;
    margin: 15px 0;
}

.email-input:focus {
    outline: none;
}

.email-btns-container {
    display: flex;
    justify-content: right;
    width: 100%;
}

.email-submit-btn {
    color: #fff;
    font-family: monospace;
    font-size: 1.5em;
    margin: 10px 5px;
    padding: .615%;
    width: 25%;
    height: 40px;
    background-color: #555;
    border: solid transparent;
    border-radius: 5px;
}

.email-submit-btn:hover {
    background: rgb(232, 95, 4);
    color: #fff;
    cursor: pointer;
}

.email-submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #555;
}

.email-cancel-btn {
    color: #fff;
    font-family: monospace;
    font-size: 1.5em;
    margin: 10px 5px;
    padding: .615%;
    width: 25%;
    height: 40px;
    background-color: #555;
    border: solid transparent;
    border-radius: 5px;
}

.email-cancel-btn:hover {
    background: rgb(246, 2, 2);
    color: #fff;
    cursor: pointer;
}