.home-post-container {
    width: 70%;
    margin: 30px auto;
    background-color: #434343;
    color: white;
    border-radius: 8px;
    box-shadow: 0 24px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    // On larger screens
    @media (min-width: 1024px) {
        max-width: 100%;
    }
}

.home-post-content {
    padding: 16px;

    @media (max-width: 768px) {
        padding: 12px;
    }
}

.home-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.home-post-avatar {
    width: 40px;
    height: 40px;
    background-color: #4a5568;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

    @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 8px;
    }
}


.home-post-story {
    font-weight: bold;
    font-size: 18px;
    color: rgb(232, 95, 4);

    @media (max-width: 768px) {
        font-size: 1rem;
    }

    @media (max-width: 480px) {
        font-size: 0.9rem;
    }
}

.home-post-time {
    font-size: 12px;
    color: #a0aec0;

    @media (max-width: 480px) {
        font-size: 0.75rem;
    }
}

.home-post-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;


    @media (max-width: 768px) {
        font-size: 1.1rem;
    }

    @media (max-width: 480px) {
        font-size: 1rem;
    }
}

.home-post-body {
    font-size: 0.875rem;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media (max-width: 480px) {
        font-size: 0.8rem;
    }
}

.home-post-footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: #a0aec0;
    font-size: 0.875rem;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.home-post-footerItem {
    margin-right: 16px;

    @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 8px;
    }
}
