$color: rgb(232, 95, 4);

.story-stats {
    margin-top: 10px;
    font-size: 14px;

    > * {
        margin-top: 10px;
    }

    &-posts-number, &-subscribers-number {
        color: $color;
    }

    &-creator-value {
        color: $color;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }


}
