.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 20px;
}

.main-nav {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;

    li {
        text-align: center;
        margin: 15px auto;
    }

    li:hover{
        text-decoration: underline;
    }
}

.logo {
    text-decoration: none;
    color: white;
}

.logo {
    margin-top: 0;
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
}

.pill-btn{
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    line-height: 38px;
    background: #8b8b8b;
    padding: 0px 15px;
    border-radius: 999em;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    vertical-align: bottom;
    white-space: nowrap;
    letter-spacing: 2px;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
    margin: 0px 5px
}

.pill-btn:hover{
    background: #727272;
}

.login {
    background-color: rgb(232, 95, 4);
}

.login:hover {
    background-color: rgb(200, 82, 3);
}