.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal {
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 10;

}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: rgb(141, 141, 141);
}

.closeBtn:hover {
    color: rgb(200, 82, 3);
    cursor: pointer;
}