#login-wrapper {
    width: 500px;
    height: 370px;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
    margin: 10px auto;
    padding: 20px;
    background: rgb(141, 141, 141);
}

input[type="text"],
input[type="password"],
label {
    margin-left: 20%;
}

input[type="text"],
input[type="password"] {
    width: 60%;
    height: 30px;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    background: rgb(110, 110, 110);
    color: #fff;
    border-radius: 5px;
    }
    
input[type="submit"] {
    color: #fff;
    font-family: monospace;
    font-size: 1.5em;
    margin: 3% 0 0 26%;
    padding: .615%;
    width: 45%;
    height: 55px;
    background-color: #555;
    border: solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.heading {
    text-align: center;
    font-size: 2.45em;
}

label {
    font-size: 1.05em;
}

input:hover {
    background: black;
    color: snow;
}

input[type="submit"]:hover {
    background: rgb(232, 95, 4);
    color: #fff;
    cursor: pointer;
}

/************MEDIA QUERIES************/
@media screen and (min-width: 750px) and (max-width:825px) {
    a {
        font-size: 1.35em;
    }
}

@media screen and (max-width: 750px) {
    #wrapper {
        width: 95%;
        height: 80%;
        padding: 3.508%;
    }

    h1 {
        font-size: 1.9em;
    }

    label {
        font-size: 0.875em;
    }

    input {
        width: 80%;
        height: 20px;
        font-size: 0.75em;
    }

    input[type="submit"] {
        width: 45%;
        font-size: 1.1em;
        margin: 3% 0% 0% 23%;
    }

}