.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.main-nav {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;

    li {
        text-align: center;
        margin: 15px auto;
    }

    li:hover{
        text-decoration: underline;
    }
}

.logo {
    text-decoration: none;
    color: white;
    margin-top: 0;
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

.pill-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 40px;
    line-height: 38px;
    background: #8b8b8b;
    padding: 0px 15px;
    border-radius: 999em;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    vertical-align: bottom;
    white-space: nowrap;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
    margin: 0px 5px
}

.pill-btn:hover{
    background: #727272;
    cursor: pointer;
}

.login {
    background-color: rgb(232, 95, 4);
    min-width: 10px;
}

.login:hover {
    background-color: rgb(200, 82, 3);
}

.signup-modal {
    background: rgb(141, 141, 141);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(232, 95, 4);
    animation: spin 1s ease infinite;
    margin: auto;
    display: block;
    margin-top: 50px; /* Adjust based on your layout */
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}