body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(21, 21, 21);
  color: white;
  font-family: monospace;
}

code {
  font-family: monospace;
}