.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    margin-left: 275px;
    padding: 60px 20px 20px 20px;
    overflow-y: auto;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(232, 95, 4);
    animation: spin 1s ease infinite;
    margin: auto;
    display: block;
    margin-top: 50px; 
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}
